.container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
  }
  
  .rectangle {
    width: 15%; /* Changed to percentage */
    height: 15vw; /* Changed to viewport units (responsive to screen width) */
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid #000;
    margin-left: 2.5%; /* Changed to percentage */
    margin-right: 2.5%; /* Changed to percentage */
    border-radius: 50%;
  }
  
  input {
    border: none;
    outline: none;
    width: 80%; /* Changed to percentage */
    background-color: aqua;
  }
  
  .displayText {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  .div1,
  .div2,
  /* .div3, */
  .div4 {
    position: absolute;
    width: 15%;
    height: 15vw; /* Changed to percentage */
    text-align: center;
    padding: 8px;
  }
  
  .div3{
    
        position: absolute;
        width: 15%;
        height: 25vw; 
        text-align: center;
        padding: 8px;
      
  }
  /* div1 {
    top: 10%; 
    left: -5%; 
  } */
  
  .div2 {
    top: 30%; /* Changed to percentage */
    left: 15%; /* Changed to percentage */
  }
  
  /* .div3 {
    top: 70%; 
    left: -25%; 
  } */
  
  .div4 {
    top: 40%; /* Changed to percentage */
    left: 15%; /* Changed to percentage */
  }
  
  .line1,
  .line2 {
    width: 16.9%; /* Changed to percentage */
    height: 0.2vw; /* Changed to viewport units (responsive to screen width) */
    background-color: #e74c3c;
    position: absolute;
    top: 50%; /* Changed to percentage */
  }
  
  .line1 {
    left: 25.6%; /* Changed to percentage */
  }
  
  .line2 {
    left: 57.5%; /* Changed to percentage */
  }
  
  /* Media Query */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .rectangle {
      margin: 10px auto;
    }
  
    /* .div1, */
    .div2,
    /* .div3, */
    .div4 {
      position: static;
      text-align: center;
      padding: 8px;
      width: 80%; /* Adjust as needed */
      margin: 5px auto; /* Adjust as needed */
    }
  
    .line1,
    .line2 {
      position: static;
    }
  }
  
  .div_above_line1 {
    order: -1;
  }
  
  .div_below_line1 {
    order: 1;
  }
  
  .div_above_line2 {
    order: -1;
  }
  
  .div_above_line1 {
    order: 1;
  }
  
  .line-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .text-box {
    text-align: center;
    margin: 10px 0;
  }
  